#root {
  max-width: 1280px;
  margin: 0 auto;
  padding: 2rem;
  text-align: center;
  background-color: rgba(0, 0, 0, 0.5); /* Semi-transparent black */
  background-image: url('../src/assets/posters.jpg');
  background-repeat: no-repeat;
  background-size: cover;
}
